body{
    overflow-x: hidden;
    background-color: #14557B;
    color: #ffffff;
    font-family:Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
h1{
    margin: 20px 10px;
}

section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 80vh;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    padding: 0.2rem;
    margin: 1rem 0.5rem;
    font-weight: 800;
    font-size: large;
}
.logo{
    border-radius: 50%;
    
}

.images {
    display: flex;
}

.image {
    display: inline-block;
    width: 100%;
    height: auto;
    object-fit: scale-down;
    overflow: hidden;
    border-radius: 25px;
    padding: 0.2rem;
    margin: 0 0.5rem;
}

.image:nth-child(2) {
    transition-delay: 200ms;
    
}

.image:nth-child(3) {
    transition-delay: 400ms;

}

.image:nth-child(4) {
    transition-delay: 600ms;

}

